<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Files -->
    <link rel="stylesheet" href="../static/css/output.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Icons links -->
    <script src="https://kit.fontawesome.com/b77fc22259.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>HAMAZ's PROTIFILO</title>
</head>

<body>
    <!-- ---========== HEADER ==========---  -->

    <!-- ---========== Navbar ==========---  -->
    <nav id="start" class="flex justify-between items-center py-8 bg-dark">
        <p class="text-5xl font-black text-primary cursor-pointer ml-9 hover:text-pure"><a href="/">DANI</a>
        </p>
        <div class="hidden lg:flex justify-between gap-11">
            <a class="font-semibold text-xl text-pure  hover:text-primary" aria-current="page"
                href="/">Home</a>
            <a class="font-semibold text-xl text-pure  hover:text-primary" href="#about">About</a>
            <a class="font-semibold text-xl text-pure  hover:text-primary" href="#education">Education</a>
            <a class="font-semibold text-xl text-pure  hover:text-primary" href="#experience">Experience</a>
            <a class="font-semibold text-xl text-pure  hover:text-primary" href="#skills">Skills</a>
            <a class="font-semibold text-xl text-pure  hover:text-primary" href="#work">Works</a>
        </div>
        <a href="#contact">
            <button
                class="hidden lg:block text-dark font-semibold py-2 px-5 mr-9 border-2 border-transparent bg-primary hover:text-primary hover:bg-transparent hover:border-primary rounded-md">
                CONTACT
            </button>
        </a>
        <!-- ---========== HUMBERGER ==========---  -->
        <button onclick="navbtn()" class="text-primary mr-9 font-medium text-4xl lg:hidden">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- ---========== Mobile Navbar ==========---  -->
        <div id="nav" class="hidden fixed bg-white inset-0 z-10 lg:hidden">
            <div class="flex justify-between items-center py-8 px-9">
                <p class="text-5xl font-black text-primary cursor-pointer">DANI</p>
                <button onclick="navbtn()" class="text-primary  text-4xl font-medium lg:hidden">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="mx-9 my-8 text-center">
                <a class="block font-medium p-2 rounded-lg hover:bg-gray-100" aria-current="page"
                    href="/">Home</a>
                <a class="block font-medium p-2 rounded-lg hover:bg-gray-100" href="#about">About</a>
                <a class="block font-medium p-2 rounded-lg hover:bg-gray-100" href="#education">Education</a>
                <a class="block font-medium p-2 rounded-lg hover:bg-gray-100" href="#experience">Experience</a>
                <a class="block font-medium p-2 rounded-lg hover:bg-gray-100" href="#skills">Skills</a>
                <a class="block font-medium p-2 rounded-lg hover:bg-gray-100" href="#work">Works</a>
                <a class="block font-medium p-2 rounded-lg hover:bg-gray-100" href="#contact">CONTACT</a>
            </div>

        </div>
    </nav>

    <!-- ---========== HERO SECTION ==========--- */ -->
    <header class=" pb-32 mb-8 w-[100%] h-[100%] bg-dark custom-clip" id="myhome">
        <div class="flex justify-center flex-wrap items-center mx-4  lg:justify-between lg:mx-28">
            <div class="image mx-2" id="myhomepix">
                <img src="../static/assets/WhatsApp_Image_2024-09-24_at_2.42.04_PM-removebg-preview.png" class="mb-8"
                    alt="HAMZA's Image" width="100%">
            </div>
            <div class="content w-[90%] lg:w-[50%]" id="myhometext">
                <p class="top-text">HAMZA SIRAJ</p>
                <h1 class="text-3xl text-pure font-semibold md:text-5xl lg:font-extrabold ">I'm a Creative <br><span
                        class="text-primary">Developer.</span></h1>
                <p class="buttom-text lg:text-2xl">As an enthusiastic Web Developer, I'm dedicated to translating
                    creative ideas into visually captivating and functional websites. With a fresh perspective and a
                    solid foundation in modern web technologies, I am eager to apply my skills to deliver impactful
                    digital experiences.</p>
                <button
                    class=" text-center border-2 border-primary font-semibold text-lg py-3 px-4 text-primary hover:bg-primary hover:text-black">
                    <a href="../static/assets/hamaz's cv.jpeg" download>Download CV</a>
                </button>
            </div>
        </div>
    </header>
    <!-- ---========== HEADER END ==========---  -->

    <!-- Go TO top btn -->
    <a href="#start">
        <button id="scrollButton"
            class="hidden fixed bottom-5 right-5 bg-blue-600 text-white px-5 py-3 rounded-lg shadow-lg">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
    </a>

    <!-- ---========== MAIN ==========---  -->
    <main>

        <!-- ---========== ABOUT SECTION==========---  -->
        <section id="about"
            class="mt-8 flex justify-center items-center px-3 flex-wrap xl:justify-between xl:px-24 py-5">
            <img src="../static/assets/WhatsApp Image 2024-09-24 at 2.42.04 PM.jpeg" alt="HAMZA's Image"
                class="mr-4 w-[100%] max-w-[462px] h-auto">
            <div id="about-text" class="mt-4 w-[90%] xl:w-[50%] mx-5">
                <h2 class="font-bold text-3xl ">About <span class="text-primary">ME</span></h2>
                <p class="font-semibold text-4xl text-ternary my-6">Hello! I'm HAMZA SIRAJ.</p>
                <p class="font-medium text-lg">As a passionate Web Developer from Pakistan, I blend creativity with
                    technical skills to craft
                    visually stunning and highly functional websites. With a strong foundation in modern web
                    technologies, I am enthusiastic about applying my abilities to create impactful digital solutions.
                    <br><br>
                    Although I'm at the start of my career, my passion for web development fuels my commitment to
                    continuous learning and excellence. I thrive on embracing new challenges and exploring innovative
                    technologies to stay ahead in the ever-evolving tech landscape. With a keen eye for detail and a
                    drive to push creative boundaries, I aim to craft exceptional web experiences that blend
                    cutting-edge design with technical precision. My goal is to create digital solutions that not only
                    meet but exceed user expectations, setting new standards in functionality and aesthetics.
                </p>
                <div class="mt-4 flex gap-8 flex-wrap text-4xl">
                    <a class="hover:text-primary" href="https://wa.me/03285980850" target="_blank"><i
                            class="fa-brands fa-square-whatsapp"></i></a>
                    <a class="hover:text-primary" href="https://www.facebook.com/profile.php?id=61566182610630"
                        target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a class="hover:text-primary" href="https://www.threads.net/@itz_dani0906" target="_blank"><i
                            class="fa-brands fa-threads"></i></a>
                    <a class="hover:text-primary" href="https://youtube.com/@itz_dani0416?si=N_SIhUv7VVmIjK9B"
                        target="_blank"> <i class="fa-brands fa-youtube"></i></a>
                    <a class="hover:text-primary"
                        href="https://www.tiktok.com/@itz_dani0906?is_from_webapp=1&sender_device=pc" target="_blank"><i
                            class="fa-brands fa-tiktok"></i></a>
                    <a class="hover:text-primary"
                        href="https://www.linkedin.com/in/itz-dani-066362326?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                        target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="hover:text-primary" href="https://www.fiverr.com/pe/rL2Dmx" target="_blank"><i
                            class="fa-solid fa-f"></i></a>
                    <a class="hover:text-primary" href="https://www.upwork.com/freelancers/~01ddc74e0dc6a35a3c"
                        target="_blank"><i class="fa-brands fa-square-upwork"></i></a>
                    <a class="hover:text-primary" href="https://www.instagram.com/itz_dani0906/" target="_blank"><i
                            class="fa-brands fa-square-instagram"></i></a>
                </div>
            </div>
        </section>

        <!-- ---========== Education SECTION==========---  -->
        <section id="education" class="bg-dark text-pure flex flex-col justify-center items-center min-h-auto py-10"
            id="education">
            <!-- Main Heading -->
            <h2 class="text-[40px] md:text-[50px] pt-2 pb-2 text-center">My <span class="text-primary">Journey</span>
            </h2>

            <!-- Education Section -->
            <div class="container mx-auto px-5 md:px-16 pb-8">
                <div class="mb-12">
                    <h3 class="text-[30px] md:text-[40px] mb-6">Education</h3>
                    <div class="space-y-8">
                        <!-- Education Item -->
                        <div class="relative p-6 border-2 border-primary rounded-lg">
                            <div class="text-[1.2rem] md:text-[1.5rem] text-primary pb-2">
                                <i class="bx bxs-calendar pr-2"></i>2021 - 2023
                            </div>
                            <h3 class="text-[20px] md:text-[24px] font-semibold">Matriculation - GCHSS, Sahiwal</h3>
                            <p class="text-[1rem] md:text-[1.2rem] pt-2 text-ternary">Matriculated from Government
                                Comprehensive Higher Secondary School (GCHSS) with a focus on Bio Science, scoring 892
                                out of 1100 marks. Built a strong foundation in scientific principles and core subjects.
                            </p>
                        </div>
                        <!-- Education Item -->
                        <div class="relative p-6 border-2 border-primary rounded-lg">
                            <div class="text-[1.2rem] md:text-[1.5rem] text-primary pb-2">
                                <i class="bx bxs-calendar pr-2"></i>2023 - 2025
                            </div>
                            <h3 class="text-[20px] md:text-[24px] font-semibold">Intermediate - PGC, Sahiwal</h3>
                            <p class="text-[1rem] md:text-[1.2rem] pt-2 text-ternary">Continuing intermediate at Punjab
                                Group of Colleges (PGC), Sahiwal. Built a strong academic foundation for future success.
                            </p>
                        </div>
                        <!-- Education Item -->
                        <div class="relative p-6 border-2 border-primary rounded-lg">
                            <div class="text-[1.2rem] md:text-[1.5rem] text-primary pb-2">
                                <i class="bx bxs-calendar pr-2"></i>2024
                            </div>
                            <h3 class="text-[20px] md:text-[24px] font-semibold">Web Development - Tech Step, Sahiwal
                            </h3>
                            <p class="text-[1rem] md:text-[1.2rem] pt-2 text-ternary">Completed a Web Development course
                                at Tech Step, Sahiwal. Mastered key technologies and design principles to create
                                innovative, responsive digital solutions.</p>
                        </div>
                    </div>
                </div>

                <!-- Experience Section -->
                <div id="experience">
                    <h3 class="text-[30px] md:text-[40px] mb-6">Experience</h3>
                    <div class="space-y-8">
                        <!-- Experience Item -->
                        <div class="relative p-6 border-2 border-primary rounded-lg">
                            <div class="text-[1.2rem] md:text-[1.5rem] text-primary pb-2">
                                <i class="bx bxs-calendar pr-2"></i>2024
                            </div>
                            <h3 class="text-[20px] md:text-[24px] font-semibold">Front-End Projects</h3>
                            <p class="text-[1rem] md:text-[1.2rem] pt-2 text-ternary">Developed several projects similar
                                to a Collab Dash using HTML, CSS, and Bootstrap, honing responsive design and UI
                                development skills.</p>
                        </div>
                        <!-- Experience Item -->
                        <div class="relative p-6 border-2 border-primary rounded-lg">
                            <div class="text-[1.2rem] md:text-[1.5rem] text-primary pb-2">
                                <i class="bx bxs-calendar pr-2"></i>2024
                            </div>
                            <h3 class="text-[20px] md:text-[24px] font-semibold">Back-End Projects</h3>
                            <p class="text-[1rem] md:text-[1.2rem] pt-2 text-ternary">Developed several back-end systems
                                using PHP and SQL, refining server-side scripting and database management. Focused on
                                creating scalable and efficient data solutions.</p>
                        </div>
                        <!-- Experience Item -->
                        <div class="relative p-6 border-2 border-primary rounded-lg">
                            <div class="text-[1.2rem] md:text-[1.5rem] text-primary pb-2">
                                <i class="bx bxs-calendar pr-2"></i>2024
                            </div>
                            <h3 class="text-[20px] md:text-[24px] font-semibold">Complete Project: Fruitable Website
                            </h3>
                            <p class="text-[1rem] md:text-[1.2rem] pt-2 text-ternary">Developed the Fruitable website
                                with a dynamic, responsive design. Utilized modern web technologies to create an
                                engaging user experience and optimize performance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ---========== Skills SECTION==========---  -->
        <section class="py-10 bg-gray-100" id="skills">
            <!-- Services Header -->
            <div class="text-center mb-8">
                <h1 class="text-5xl font-bold text-teal-600 pb-4">My Skills</h1>
                <p class="text-ternary">I provide high standard clean websites for your business solutions with my
                    skills.</p>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-6">
                <!-- Web Development Frameworks -->
                <div class="bg-teal-600 p-6 shadow-lg rounded-md text-white hover:bg-black">
                    <div class="flex justify-center mb-4">
                        <div class="w-16 h-16 bg-white text-teal-600 rounded-full flex items-center justify-center">
                            <i class="fa-solid fa-database text-3xl"></i>
                        </div>
                    </div>
                    <h2 class="text-3xl font-semibold text-center mb-2">Web Development Frameworks</h2>
                    <p class="text-center">Proficient in popular front-end frameworks like React, Angular, and back-end
                        frameworks like Express, Ruby on Rails, to streamline development and improve efficiency.</p>
                </div>

                <!-- Front-end Development -->
                <div class="bg-teal-600 p-6 shadow-lg rounded-md text-white hover:bg-black">
                    <div class="flex justify-center mb-4">
                        <div class="w-16 h-16 bg-white text-teal-600 rounded-full flex items-center justify-center">
                            <i class="fa-solid fa-code text-3xl"></i> <!-- Larger Icon -->
                        </div>
                    </div>
                    <h2 class="text-3xl font-semibold text-center mb-2">Front-end Development</h2>
                    <p class="text-center">Skilled in writing clean, efficient, and well-documented HTML, CSS, and
                        JavaScript code to bring designs to life, with expertise in responsive web design and
                        mobile-first approach.</p>
                </div>

                <!-- Back-end Development -->
                <div class="bg-teal-600 p-6 shadow-lg rounded-md text-white hover:bg-black">
                    <div class="flex justify-center mb-4">
                        <div class="w-16 h-16 bg-white text-teal-600 rounded-full flex items-center justify-center">
                            <i class="fa-solid fa-server text-3xl"></i> <!-- Larger Icon -->
                        </div>
                    </div>
                    <h2 class="text-3xl font-semibold text-center mb-2">Back-end Development</h2>
                    <p class="text-center">Adept in server-side programming languages like PHP, Ruby, Python, and
                        JavaScript (Node.js), with experience in building robust and scalable web applications, APIs,
                        and databases.</p>
                </div>

                <!-- Visual Design Expertise -->
                <div class="bg-teal-600 p-6 shadow-lg rounded-md text-white hover:bg-black">
                    <div class="flex justify-center mb-4">
                        <div class="w-16 h-16 bg-white text-teal-600 rounded-full flex items-center justify-center">
                            <i class="fa-solid fa-paint-brush text-3xl"></i> <!-- Larger Icon -->
                        </div>
                    </div>
                    <h2 class="text-3xl font-semibold text-center mb-2">Visual Design Expertise</h2>
                    <p class="text-center">Proficient in creating visually stunning and user-friendly designs that
                        capture the essence of a brand, using Adobe Creative Cloud (Photoshop, Illustrator, XD, etc.).
                    </p>
                </div>

                <!-- Web Performance Optimization -->
                <div class="bg-teal-600 p-6 shadow-lg rounded-md text-white hover:bg-black">
                    <div class="flex justify-center mb-4">
                        <div class="w-16 h-16 bg-white text-teal-600 rounded-full flex items-center justify-center">
                            <i class="fa-solid fa-tachometer-alt text-3xl"></i>
                        </div>
                    </div>
                    <h2 class="text-3xl font-semibold text-center mb-2">Web Performance Optimization</h2>
                    <p class="text-center">Knowledgeable in optimizing website performance, ensuring fast loading
                        speeds, and creating a seamless user experience through techniques like caching, minification,
                        and compression.</p>
                </div>

                <!-- Responsive & Mobile-first Design -->
                <div class="bg-teal-600 p-6 shadow-lg rounded-md text-white hover:bg-black">
                    <div class="flex justify-center mb-4">
                        <div class="w-16 h-16 bg-white text-teal-600 rounded-full flex items-center justify-center">
                            <i class="fa-solid fa-mobile-alt text-3xl"></i> <!-- Larger Icon -->
                        </div>
                    </div>
                    <h2 class="text-3xl font-semibold text-center mb-2">Responsive & Mobile-first Design</h2>
                    <p class=" text-center">Skilled in designing and developing responsive, mobile-friendly websites
                        that adapt to various devices, screen sizes, and orientations, ensuring an optimal user
                        experience across all platforms.</p>
                </div>
            </div>
        </section>

        <!-- ---========== Silder ==========---  -->
        <section id="work">
            <div class="text-center py-7">
                <h2 class="text-4xl pb-6 font-bold text-gray-900">My <span class="text-primary">Work</span></h2>
                <p class="text-ternary mb-3">I provide high standard clean websites for your business solutions</p>
            </div>
            <div class="flex items-center justify-center">
                <div class="slider w-[90vw] md:w-[80vw] ">
                    <div class="slides">
                        <div class="slide">
                            <img src="../static/assets/01/01.png" alt="Slide 1" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/01/02.png" alt="Slide 2" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/01/03.png" alt="Slide 3" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/01/04.png" alt="Slide 4" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/02/01.png" alt="Slide 5" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/02/02.png" alt="Slide 6" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/02/03.png" alt="Slide 7" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/02/04.png" alt="Slide 8" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/03/01.png" alt="Slide 9" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/03/02.png" alt="Slide 10" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/04/01.png" alt="Slide 11" class="w-full">
                        </div>
                        <div class="slide">
                            <img src="../static/assets/04/04.png" alt="Slide 12" class="w-full">
                        </div>
                    </div>
                    <button id="prev"
                        class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-primary p-2 rounded-lg shadow-lg">❮</button>
                    <button id="next"
                        class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-primary p-2 rounded-lg shadow-lg">❯</button>
                </div>
            </div>

        </section>

        <!-- ---========== Contact SECTION==========---  -->

        <section class="py-12 bg-pure" id="contact">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="text-center">
                    <h2 class="text-4xl pb-4 font-bold text-gray-900">Contact <span class="text-primary">ME</span></h2>
                    <p class="text-gray-500">I provide high standard clean websites for your business solutions</p>
                    <button
                        class="mt-4 px-6 py-2 bg-primary text-white font-semibold rounded-lg hover:bg-transparent border-2 border-primary hover:text-primary">CONTACT</button>
                </div>

                <!-- Contact Info Cards -->
                <div class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-6">
                    <!-- Call Me -->
                    <div class="bg-white shadow-lg p-6 rounded-lg text-center">
                        <i class="fas fa-phone-alt text-primary text-4xl"></i>
                        <h3 class="mt-4 font-semibold text-gray-800">Call <span class="text-primary">Me</span> On</h3>
                        <p class="text-gray-500">+92 328-5980850</p>
                    </div>

                    <!-- Email Me -->
                    <div class="bg-white shadow-lg p-6 rounded-lg text-center">
                        <i class="fas fa-envelope text-primary text-4xl"></i>
                        <h3 class="mt-4 font-semibold text-gray-800">Email <span class="text-primary">Me</span> At</h3>
                        <p class="text-gray-500">silent.boss.5445@email.com</p>
                    </div>

                    <!-- Meet Me -->
                    <div class="bg-white shadow-lg p-6 rounded-lg text-center">
                        <i class="fas fa-map-marker-alt text-primary text-4xl"></i>
                        <h3 class="mt-4 font-semibold text-gray-800">Meet <span class="text-primary">Me</span> At</h3>
                        <p class="text-gray-500">Q#E-01, 132-KV Grid Station 3rd, WAPDA Colony, JAHAZ GROUND, SAHIWAL
                        </p>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="mt-12">
                    <form id="myForm" class="grid grid-cols-1 md:grid-cols-2 gap-6" action="/contact" method="post">
                        <input type="text" name="name" placeholder="Your Name*" required
                            class="border border-gray-300 rounded-lg px-4 py-2 focus:ring-primary focus:border-primary">
                        <input type="email" name="email" placeholder="Your Email*" required
                            class="border border-gray-300 rounded-lg px-4 py-2 focus:ring-primary focus:border-primary">
                        <input type="text" name="number" placeholder="Your Number"
                            class="border border-gray-300 rounded-lg px-4 py-2 focus:ring-primary focus:border-primary">
                        <input type="file" name="file"
                            class="border border-gray-300 rounded-lg px-4 py-2 focus:ring-primary focus:border-primary">
                        <textarea name="message" placeholder="Type Your Reviews or Message Here..." required
                            class="border border-gray-300 rounded-lg px-4 py-2 md:col-span-2 focus:ring-primary focus:border-primary"></textarea>
                        <button type="submit"
                            class="bg-primary text-white font-semibold rounded-lg py-2 md:col-span-2 hover:bg-teal-500">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </section>

        <!-- ---========== Popup ==========---  -->
        <div id="popup" class="hidden relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">
                    <div
                        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                        <div class="bg-white px-4 pb-4 pt-5 sm:p-4 sm:pb-4">
                            <div class="sm:flex sm:items-start">
                                <div
                                    class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1" width="35" height="35" viewBox="0 0 256 256" xml:space="preserve">
                                        <defs>
                                        </defs>
                                        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                                            transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                                            <path
                                                d="M 43.077 63.077 c -0.046 0 -0.093 -0.001 -0.14 -0.002 c -1.375 -0.039 -2.672 -0.642 -3.588 -1.666 L 23.195 43.332 c -1.84 -2.059 -1.663 -5.22 0.396 -7.06 c 2.059 -1.841 5.22 -1.664 7.06 0.396 l 12.63 14.133 l 38.184 -38.184 c 1.951 -1.952 5.119 -1.952 7.07 0 c 1.953 1.953 1.953 5.119 0 7.071 L 46.612 61.612 C 45.674 62.552 44.401 63.077 43.077 63.077 z"
                                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,165,16); fill-rule: nonzero; opacity: 1;"
                                                transform="matrix(1 0 0 1 0 0)" stroke-linecap="round" />
                                            <path
                                                d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 2.762 0 5 2.239 5 5 s -2.238 5 -5 5 c -19.299 0 -35 15.701 -35 35 s 15.701 35 35 35 s 35 -15.701 35 -35 c 0 -2.761 2.238 -5 5 -5 s 5 2.239 5 5 C 90 69.813 69.813 90 45 90 z"
                                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,165,16); fill-rule: nonzero; opacity: 1;"
                                                transform="matrix(1 0 0 1 0 0)" stroke-linecap="round" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                    <div>
                                        <p class="text-2xl font-bold">Thanks for Contacting Me</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- ---========== Main End  ==========---  -->

    <!-- ---========== Footer ==========---  -->
    <footer class="bg-dark mt-5 text-center px-6">
        <p class="inline-block py-5 text-5xl font-black hover:text-primary cursor-pointer text-pure"><a
                href="/">DANI</a></p>
        <div class="my-4 flex gap-8 flex-wrap text-4xl justify-center items-center text-white">
            <a class="hover:text-primary" href="https://wa.me/03285980850" target="_blank"><i
                    class="fa-brands fa-square-whatsapp"></i></a>
            <a class="hover:text-primary" href="https://www.facebook.com/profile.php?id=61566182610630"
                target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a class="hover:text-primary" href="https://www.threads.net/@itz_dani0906" target="_blank"><i
                    class="fa-brands fa-threads"></i></a>
            <a class="hover:text-primary" href="https://youtube.com/@itz_dani0416?si=N_SIhUv7VVmIjK9B" target="_blank">
                <i class="fa-brands fa-youtube"></i></a>
            <a class="hover:text-primary" href="https://www.tiktok.com/@itz_dani0906?is_from_webapp=1&sender_device=pc"
                target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a class="hover:text-primary"
                href="https://www.linkedin.com/in/itz-dani-066362326?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a class="hover:text-primary" href="https://www.fiverr.com/pe/rL2Dmx" target="_blank"><i
                    class="fa-solid fa-f"></i></a>
            <a class="hover:text-primary" href="https://www.upwork.com/freelancers/~01ddc74e0dc6a35a3c"
                target="_blank"><i class="fa-brands fa-square-upwork"></i></a>
            <a class="hover:text-primary" href="https://www.instagram.com/itz_dani0906/" target="_blank"><i
                    class="fa-brands fa-square-instagram"></i></a>
        </div>
        <p class="text-white py-6">Copyright&copy; 2024 by <a href="#start"
                class="hover:text-primary font-semibold">DANI</a>. All Rights Reserved.</p>
    </footer>
    <!-- ---========== Footer END ==========---  -->


</body>
<script src="../static/js/script.js"></script>

</html>